<div class="message-container">
  <div class="heading">
    <div class="title">
      <a href="/conversations">
      <h1 class="title">我的站内信</h1>
</a>      <h1 class="subject">
        <span class="split">|</span>吐槽反馈</h1>
    </div>
    <div class="back-link">
      <a class="btn btn-default" id="reply-conversation-btn" data-toggle="modal" data-target="#reply-message-modal" href="#">回复</a>
    </div>
  </div>
  <div class="messages-list">
    <div class="message-item">
  <div class="title-line">
    <p class="sender">
      <span class="username">ihower</span>
    </p>
    <p class="time">2017-07-19 10:35</p>
  </div>
  <div class="content">
    <div class="text">

<p class="user-line">Hello，liuzx</p>

<p class="content-line">在 https://fullstack.xinshengdaxue.com/posts/840 3-4 配置路由 时，你应该少了 :defaults =&gt; { :format =&gt; :json } 这个配置，这会默认用 json 格式。

你也可以试试看 http://localhost:3000/api/v1/trains/0822.json 这样也会指定 json 格式</p>
<a href="" class="complain-image"><img src=""></a>
<p class="split-line">＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝</p>

<p class="quote-line">以下是你的吐槽/反馈内容</p>
<blockquote>
<p>课程：《Web API 设计实作》</p>
<p>教材：7-2 修改 train API </p>
<p>槽点：ihower 老师好：

按照教程上练习，甚至复制代码，还是现出现如下问题：

去掉 `render :json` 就报错，请问如何解决？</p>
</blockquote><br><a href="https://quanzhan-production.s3.amazonaws.com/uploads/complain/image/1663/545d6225-55ad-483d-9500-7a99d3a18ce7.jpg" class="complain-image"><img src="https://quanzhan-production.s3.amazonaws.com/uploads/complain/image/1663/small_545d6225-55ad-483d-9500-7a99d3a18ce7.jpg" alt="Small 545d6225 55ad 483d 9500 7a99d3a18ce7"></a>
    </div>
  </div>
</div>
<div class="message-item">
  <div class="title-line">
    <p class="sender">
      <span class="username">liuzx</span>
    </p>
    <p class="time">2017-07-19 10:42</p>
  </div>
  <div class="content">
    <div class="text">
      问题解决了，谢谢老师。

原因是 少了一个 `s`

`:default =&amp;gt; { :format =&amp;gt; :json }`<br><a href="" class="complain-image"><img src=""></a>
    </div>
  </div>
</div>

  </div>
</div>
