/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "select2";
@import "select2-bootstrap";


// .answer_count{
// }

#quiz_correct_answers_count{
  color: green;
  font-weight: bold;
}

#quiz_wrong_answers_count{
  color: red;
  font-weight: bold;
}

#quiz_answered_question_count{
  font-weight: bold;
}

// for quiz_questions index page

#questions-list{
  list-style: none;
  li{
    line-height: 20px;
  }
  .fa-check-circle {
      color:green;
  }
  .fa-times {
      color:red;
  }
}

.quiz-title{
  padding-left: 55px;
  font-size: 1.2em;
  font-weight: bold;
}


// for quiz_questions show page

#answers-list{
  list-style: none;
}

#quiz-status-bar{
  a{
    text-decoration: none;
  }
  .fa-star, .fa-star-o{
    color: orange;
  }
  .fa-check-square-o{
    color: green;
  }
  .fa-window-close-o{
    color: red;
  }
}


.question-title{
  width: 80%;
}
