/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery-ui/draggable
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "select2";
@import "select2-bootstrap";


// .answer_count{
// }

#quiz_correct_answers_count{
  color: green;
  font-weight: bold;
}

#quiz_wrong_answers_count{
  color: red;
  font-weight: bold;
}

#quiz_answered_question_count{
  font-weight: bold;
}

// for quiz_questions index page

#questions-list{
  list-style: none;
  li{
    line-height: 20px;
  }
  .fa-check-circle {
      color:green;
  }
  .fa-times {
      color:red;
  }
}

.quiz-title{
  padding-left: 55px;
  font-size: 1.2em;
  font-weight: bold;
}


// for quiz_questions show page

#answers-list{
  list-style: none;
}

#quiz-status-bar{
  a{
    text-decoration: none;
  }
  .fa-star, .fa-star-o{
    color: orange;
  }
  .fa-check-square-o{
    color: green;
  }
  .fa-window-close-o{
    color: red;
  }
}


.question-title{
  width: 80%;
}


// for quiz_questions show page
.panic-panel{
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid rgba(176,190,197,0.65);
  .panic-panel-title{
    margin-bottom: 35px;
    margin-left: 5px;
    h4{
      color: #666;
      font-size: 18px;
      margin-top: 5px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .panic-panel-body {
    width: 100%;
    padding: 0 10px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-direction: row;
    .item {
      width: 160px;
      height: 50px;
      text-align: center;
      span.emoji{
        display: inline-block;
        vertical-align: middle;
        font-size: 2em;
        padding-right: 5px;
      }
      span.text{
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
      }
    }
  }
}

.complain-btn {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin-left: 10px;
}
#want-to-complain-btn {
    margin-bottom: 0px;
}
.ui-selectee {
    cursor: pointer
}

#selectable {
  .ui-selected {
    div, div:hover {
    position: relative;
    z-index: 61;
    border: 1px solid #1ecd97;
    }
    div:before{
      content: "";
      border-top: 12px solid #1ecd97;
      border-left: 12px solid transparent;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 60;
    }

  }
  .ui-widget-content {
    color: #424242;
    border: 1px solid transparent;
    border-radius: 1px;
  }
  .ui-widget-content:hover {
    border: 1px solid #1ecd97;
  }
}


.message-modal-style .modal-content {
    border-radius: 2px
}

.message-modal-style textarea.form-control {
    height: auto;
    min-height: 150px;
    max-height: 350px;
    border-radius: 2px
}

.message-modal-style .message-modal-footer {
    height: 50px;
    text-align: right
}

.message-modal-style .message-modal-footer .btn {
    width: 100px;
    margin-left: 20px
}

.message-modal-style .message-modal-footer .btn-primary {
    background-color: rgba(66,133,244,0.85);
    border-color: rgba(66,133,244,0.85)
}

.message-modal-style .message-modal-footer .btn-primary:hover {
    background-color: #4285F4;
    border-color: #4285F4
}
